# List of third-party lists to download and include into generated
# blacklist zone file (entries are just examples and copied from the
# source of https://github.com/StevenBlack/hosts#sources-of-hosts-data-unified-in-this-variant)
# Please verify the list matches your interest or compile your own!
#
# Whitelists are applied AFTER all blacklists are compiled together
# which means an entry in the whitelist will finally remove the domain
# from the whole blacklist. Provider order does not matter in this case.
providers:
  #- name: Local blacklist
  #  file: blacklist.local
  #  action: blacklist
  #  type: domain-list

  #- name: Local whitelist
  #  file: whitelist.local
  #  action: whitelist
  #  type: domain-list

  #- name: Local whitelist
  #  content: |
  #    my.domain.com
  #  action: whitelist
  #  type: domain-list

  - name: botvrij - ioclist.domain
    url: https://www.botvrij.eu/data/ioclist.domain.raw
    action: blacklist
    type: domain-list  # <-- Domain Blacklist in `example.com` format

  - name: add.Spam
    url: https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.Spam/hosts
    action: blacklist
    type: hosts-file  # <-- Domain Blacklist in `0.0.0.0 example.com` format

  - name: RPiList - crypto
    url: https://raw.githubusercontent.com/RPiList/specials/master/Blocklisten/crypto
    action: blacklist
    type: adblock-plus  # <-- Domain Blacklist in `||example.com^` format

template: |
  $TTL 1H

  @ SOA LOCALHOST. dns-master.localhost. (1 1h 15m 30d 2h)
    NS  LOCALHOST.

  ; Blacklist entries
  {{ range .blacklist -}}
  {{ to_punycode .Domain }} CNAME . ; {{ .Comments }}
  {{ end }}
